body {
    font-family: "Covered by Your Grace", cursive;
    margin: 0;
}

/* Header styles */
header {
    background-color: #3C3849;
    padding: 1rem 10px;
}

header span {
    color: #F2B90C;
    font-size: 3rem;
    font-weight: 400;
}

/* Navigation styles */
nav {
    background-color: #f2b705;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #F2B90C;
    font-weight: 400;
}

nav li.active a {
    background-color: #F2B90C;
    color: #f2b705;
}

nav li a:hover {
    color: white;
}

/* Main content styles */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #0367A6;
}

main h2 {
    color: #F2B90C;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main dl dt {
    color: #b40412;
    font-weight: 400;
    margin-top: 1rem;
}

main dl dd {
    color: #F2B90C;
    font-size: 1.3rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

main strong {
    font-weight: 400;
    color: black;
}

main em {
    font-weight: 400;
}

main address {
    font-style: normal;
    background-color: #f2b705;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #F2B90C;
    width: 200px;
}

main a {
    color: #F2B90C;
}

main a:hover {
    color: rgb(180, 4, 18);
}

/* Footer styles */
footer {
    background-color: #3C3849;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    color: #333;
    letter-spacing: 3px;
}

footer p {
    margin: 0;
}
