body {
    font-family: "Oxygen", sans-serif;
    margin: 0;
}

/* Header styles */
header {
    background-color: #eaeaea;
    padding: 1 rem 10 px;
}

header span {
    color: #024873;
    font-size: 1.6 rem;
    font-weight: 700;
}


/* Navigation styles */
nav {
    background-color: #f2b705;
}

nav.ul {
    margin: 0;
    padding: 0 10 px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83 rem 1 rem;
    text-decoration: none;
    font-size: 1.1 rem;
    color: #024873;
    font-weight: 700;
}

nav li.active a {
    background-color: #024873;
    color: #f2b705;
}

nav li a:hover {
    color: white;
}

/* Main content styles */
main {
    padding: 1 rem 10 px;
}

main h1 {
    color: #b40412;
}

main h2 {
    color: #024873;
    margin-bottom: .2 rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5 rem 30 px;
    background-color: #efefef;
}

main dl dt {
    color: #b40412;
    font-weight: 700;
    margin-top: 1 rem;
}

main dl dd {
    color: #024873;
    font-size: .9 rem;
    margin-left: 20 px;
}

main ul {
    list-style-type: circle
}

main ul li {
    line-height: 125 %;
    margin-bottom: .5 rem;
    font-size: .9 rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #f2b705;
    padding: .5 rem;
    border-radius: 10 px;
    border: 1 px solid #024873;
    width: 200 px;
}
main a{
    color: #024873;
}
main a:hover {
    color: rgb (180, 4, 18);
}

/* Footer styles */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1 rem;
    font-size: .8 rem;
    color: #333;
    letter-spacing: 3 px;
}
footer p {
    margin: 0;
}
