/* GLOBAL FONT — EVERYTHING uses Covered By Your Grace */
body {
    font-family: "Covered By Your Grace", cursive;
    margin: 0;
}

/* HEADER */
header {
    background-color: #3C3849;
    padding: 1rem 10px;
}

header span {
    color: #F2B90C;
    font-size: 3rem;
    font-weight: 400;
}

/* NAVIGATION */
nav {
    background-color: #46625C;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 2.3rem;
    color: #F2B90C;
    font-weight: 400;
}

nav li.active a {
    background-color: #0367A6;
    color: #F2B90C;
}

nav li a:hover {
    color: white;
}

/* MAIN CONTENT */
main {
    padding: 1rem 10px;
    font-weight: 400;

}

/* FORM STYLES */

.myform {
    margin-top: 1rem;
}

.myform fieldset {
    border: .9px dotted #0367A6;
    border-radius: 4px;
    margin-top: 1rem;
}

.myform legend {
    color: #0367A6;
    font-size: 16px;
}

.myform label {
    margin: .7rem;
    font-size: 1.1rem;
    color: #3C3849;
}


.myform label,
.myform select,
.myform [type="text"],
.myform [type="tel"],
.myform [type="email"],
.myform textarea {
    display: block;
    padding: .3rem .5rem;
    font-size: 1.5rem;

}

.myform [type="text"],
.myform [type="tel"],
.myform [type="email"],
.myform select,
.myform textarea {
    border: solid 2px #F2B90C;
    padding: .5rem;
    width: 200px;
    border-radius: .5rem;
    font-family: 'covered By Your Grace', cursive;
    font-weight: 400;
}

.myform textarea {
    height: 10rem;
}

.myform :required {
    background-color: rgb(60, 56, 73,0.1);
}

.myform input[type="submit"] {
    background-color: #46625C;
    border: dashed 2px #F2B90C;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #F2B90C;
    margin: 1rem 0 0 3vw;
    cursor: pointer;
}

.myform input:focus,
.myform select:focus,
.myform textarea:focus {
    outline: none;
    border-color: #0367A6;
    box-shadow: 0 0 5px rgba(60, 56, 73,0.1); 
}
/* FOOTER */
footer {
    background-color: #0367A6;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    color: #F2B90C;
    letter-spacing: 3px;
    border-radius: 12px;
    border: 1px solid #F2B90C;
}

footer p {
    margin: 0;

}
